
body {
	background-color: white;
	color: black;
	font-family: sans-serif;
}

.content {
	display: flex;
}

#id-canvas {
	background-color: white;
	height: 800px;
	width: 800px;
	border: black solid 1px;
}

.sidebar {
	height: 800px;
	width: 200px;
	background-color: white;
	border: black solid 1px;
}

.heart {
	color: red;
}

.life, .money, .towersPlaced {
	text-align: center;
	font-size: 20px;
	padding: 10px;
	pointer-events: none;
}

#selectedTowerType {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	background-color: white;
	border: black solid 1px;
}

.button {
	text-align: center;
	font-size: 20px;
	padding: 20px;
}

.button:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
}

.selected-button {
	background-color: #AAFFAA;
}

.selected-button:hover {
	background-color: #00FF00;
}

.info-bar {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.info-bar > * {
	margin-left: 20px;
	align-items: center;
}

.start-button {
	padding: 10px;
	background-color: lightgreen;
	color: white;
}

.start-button:hover {
	background-color: lime;
	cursor: pointer;
}

#mutation-rate {
	width: 40px;
	padding: 5px;
	margin-right: 4px;
}