body {
	background-color: #222222;
	color: white;
	font-family: sans-serif;
}

#id-canvas {
	background-color: teal;
	height: 800px;
	width: 800px;
	margin: auto;
}

.info-bar {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.info-bar > * {
	margin-left: 20px;
	align-items: center;
}

.start-button {
	padding: 10px;
	background-color: lightgreen;
	color: black;
}
.start-button:hover {
	background-color: lime;
	cursor: pointer;
}

.number-input {
	width: 60px;
	padding: 5px;
	margin-right: 4px;
}